# System Files
.DS_Store
Thumbs.db

# Dependencies
node_modules

# Build output and intermediates
/dist
/tmp
/out-tsc
/tools/**/*.js
.sass-cache
yarn-error.log
npm-debug.log
package-lock.json
**/.npmrc

# Test output and intermediates
junit.xml

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Other IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Misc
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

.nx/cache