name: Test tagging


on:
  pull_request:
    types: [ready_for_review, opened, synchronize, reopened]
    branches:
      - main

env:
  NODE_VERSION: '14.x'

jobs:
  build:
    name: Test tagging
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }} 

      - name: Setup NodeJs ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn
          
      - name: Install dependencies
        run: yarn  

      - name: Build plugin
        run: yarn nx build nx-playwright

      - name: Test tagging
        run: |
          VERSION=$(cat package.json | grep version | head -1 | awk -F: '{ print $2 }' | sed 's/[",]//g')
          echo "Tagging version $VERSION"
          git tag -a $VERSION -m "Version ${VERSION}"
          

      - name: Release
        run: |
          cd dist/packages/nx-playwright
          echo "scope=@mands" > .npmrc
          echo "@mands:registry=https://registry.npmjs.org/" >> .npmrc
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" >> .npmrc
          yarn publish --non-interactive --access=public